<div [class]="wrapperClasses()">
  <eb-input-label
    [id]="labelId()"
    [forId]="selectButtonId()"
    [label]="label()"
    [required]="required()"
    [labelClass]="'select__label' + (disabled() ? ' select__label--disabled' : '')"
  />

  <div class="select__inner">
    <eb-select-button
      #selectButton
      [buttonId]="selectButtonId()"
      [buttonClass]="buttonClasses()"
      [disabled]="disabled()"
      [ariaLabel]="ariaLabel()"
      [ariaLabelledby]="labelId()"
      [ariaDescribedby]="computedAriaDescribedBy()"
      [ariaInvalid]="computedAriaInvalid()"
      [isOpen]="isOpen()"
      [ariaControls]="isOpen() ? listboxId() : undefined"
      [displayText]="displayText()"
      [hasValue]="hasValue()"
      [showClear]="clearable() && hasValue() && !disabled()"
      (clicked)="toggleDropdown()"
      (clearClicked)="clearValue($event)"
      (keydown)="handleKeydown($event)"
    />

    @if (isOpen()) {
      <eb-select-dropdown
        #searchInput
        [dropdownClass]="dropdownClasses()"
        [searchable]="searchable()"
        [searchQuery]="searchQuery()"
        [listboxId]="listboxId()"
        [ariaLabel]="ariaLabel()"
        [isMultiple]="multiple()"
        [maxHeight]="maxVisibleOptions() * 40"
        [options]="filteredOptions()"
        [highlightedIndex]="highlightedIndex()"
        [isOptionSelected]="isOptionSelected.bind(this)"
        (searchInput)="handleSearchInput($event)"
        (searchKeydown)="handleKeydown($event)"
        (optionClicked)="selectOption($event)"
        (optionEnterPressed)="selectOption($event)"
        (optionSpacePressed)="selectOption($event)"
        (optionMouseEntered)="highlightedIndex.set($event)"
      />
    }
  </div>

  <eb-input-footer
    [helperText]="helperText()"
    [helperTextId]="helperTextId()"
    [helperTextClasses]="helperTextClasses()"
  />
</div>
