<div [class]="wrapperClasses()">
  <div [class]="wrapperInnerClasses()">
    <input
      #radioElement
      type="radio"
      [id]="radioId()"
      [class]="radioClasses()"
      [checked]="checked()"
      [disabled]="disabled()"
      [required]="required()"
      [value]="value()"
      [name]="name()"
      [attr.aria-label]="ariaLabel()"
      [attr.aria-describedby]="computedAriaDescribedBy()"
      [attr.aria-invalid]="computedAriaInvalid()"
      [attr.aria-labelledby]="labelId()"
      (change)="handleChange($event)"
      (focus)="handleFocus($event)"
      (blur)="handleBlur($event)"
    />
    <eb-radio-button-icon [checked]="checked()" />
  </div>

  <eb-input-label
    [id]="labelId()"
    [forId]="radioId()"
    [label]="label()"
    [required]="required()"
    [labelClass]="labelClasses()"
  />

  <eb-input-footer
    [helperText]="helperText()"
    [helperTextId]="helperTextId()"
    [helperTextClasses]="helperTextClasses()"
  />
</div>
